<%= form_for @article do |f| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        numberOfErrors.length() = <%= @article.errors.count %>;
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li>"<%= msg %>";</li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form"> 
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>
   
    <p>
      <%= f.label :text %><br>
      <%= f.text_area :text %>
    </p>
   
    <p class="submit">
          <%= f.submit %>
    </p>
  </div>
<% end %>